body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  /* box-sizing: border-box; */
  display: grid;
  border: 2px gray;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 6fr;
}

/* .container div {
  padding: 15px;
  font-size: 32px;
} */

.sidebar {
  display: grid;
  background-color: #005B94;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.topbar {
  background-color: darkgray;
  grid-column: 2 / -1
  /* grid-row: ; */
}

.content {
  background-color: darkolivegreen;
  grid-column: 2 / -2;
}

.rightbar {
  background-color: rgb(233, 142, 119);
  grid-column: 3 / -1;
}