:root {
  --color-sidebar: #234C6A;
  --color-topbar: #ffffff;
  --color-rightbar: #e8edf3;

  --color-bg: #e8edf3;
  --color-card-bg: #ffffff;

  --color-accent: #FDEB9E;
  --color-card-accent: #FDEB9E;

  --color-text-dark: #1A1A1A;
  --color-text-light: #F5F5F5;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: transform 0.25s ease;
}

a:hover {
  transform: scale(1.05);
}



.container {
  display: grid;
  grid-template-columns: 0.7fr 4fr 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  color: var(--color-bg);
}

.container h2 {
  font-size: 1.5rem;
}

/* .container div {
  padding: 15px;
  font-size: 32px;
} */

.sidebar {
  display: grid;
  background-color: var(--color-sidebar);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  grid-template-rows: 1fr 5fr 4fr;
  text-align: left;
  padding-left: 40px;
}

.sidebar .home {
  padding-top: 30px;
}

.sidebar .menu {
  padding-top: ;
}
.sidebar p {

}

.topbar {
  background-color: var(--color-topbar);
  color: black;
  height: 200px;
  display: grid;
  grid-column: 2 / -1;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  box-shadow: 0 8px 20px rgba(0,0,0,0.30);
  z-index: 1;
  padding-left: 30px;
}

.search {
  padding: 20px;
  justify-items: center; */
}

.search-bar {
  padding: 10px 14px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 450px;
  background-color: var(--color-bg);
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.topbar .h2 {
  font-size: 0.8rem;
}

.content {
  color: black;
  /* background-color: darkolivegreen; */
  background: var(--color-bg);
  display: grid;
  /* grid-column: 2 / -2; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 15px;
  grid-auto-rows: max-content;
  /* z-index: -1; */
}

.content .projects {
  grid-column: 1 /-1;
  text-align: left;
  /* padding-left: 30px;
  padding-top: 30px; */
  /* height: 70px; */
}

.content .card {
  background-color: var(--color-card-bg);
  height: 200px;
  text-align: left;
  border-radius: 12px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: transform 0.18s ease, box-shadow 0.2s ease;
}

.card h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1.15rem;
}

.card p {
  color: #555;
  line-height: 1.4;
  font-size: .95rem;
}

.card .accent {
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 100%;
  background: var(--color-card-accent);   /* golden yellow */
  border-radius: 12px 0 0 12px;
}


/* Hover effect */
.content .card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.18);
}

.rightbar {
  background-color: var(--color-rightbar);
  grid-column: 3 / -1;
  color: black;
}
