body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  /* padding: 16px; */
  /* box-sizing: border-box; */
  display: grid;
  resize: both;
  overflow: auto;
  border: 2px gray;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 6fr;
  font-size: 1.8rem;
  color: white;
}

/* .container div {
  padding: 15px;
  font-size: 32px;
} */

.sidebar {
  display: grid;
  background-color: #005B94;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  grid-template-rows: 1fr 5fr 4fr;
  text-align: left;
  padding-left: 40px;
}

.sidebar .home {
  padding-top: 30px;
}

.sidebar .menu {
  padding-top: ;
}
.sidebar p {

}

.topbar {
  background-color: darkgray;
  display: grid;
  grid-column: 2 / -1;
  grid-template-columns: 2fr 1fr;
  /* grid-row: ; */
}

.content {
  color: black;
  background-color: darkolivegreen;
  display: grid;
  /* grid-column: 2 / -2; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 15px;
}

.content .projects {
  grid-column: 1 /-1;
  text-align: left;
  /* padding-left: 30px;
  padding-top: 30px; */
  height: 70px;
}

.content .card {
  background-color: white;
  height: 200px;

}

.rightbar {
  background-color: rgb(233, 142, 119);
  grid-column: 3 / -1;
}